@import 'settings/settings';

.brand-button {
  padding: 0.6rem 2rem;
  font-size: 1.2rem;

  &--accent {
    background-color: transparent;
    color: $brand-secondary;
    border-color: $brand-secondary;
    border-width: 2px;
  }
}
