@import 'settings/settings';

.brand-button {
  padding: 1rem;

  &--accent {
    background-color: $brand-accent;
    border-color: $brand-accent;

    @include hover() {
      background-color: black;
      border-color: black;
    }
  }
}
